<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            RequireJS
        </a>
    </li>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="mixed.html">Simple</a>
    </li>
    <li>
        <a href="mixed-mod.html">Simple - Modded</a>
    </li>
    <li>
        <a href="mixed-build.html">Simple - Built</a>
    </li>
    <li>
        <a href="traditional.html">Packages</a>
    </li>
    <li>
        <a href="traditional-mod.html">Packages - Modded</a>
    </li>
    <li>
        <a href="traditional-build.html">Packages - Built</a>
    </li>
</ul>